@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(#12121212, rgb(42, 42, 42));
    min-height: 100vh;
}

.image-generator {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./assets/bg.jpeg") center;
    background-size: contain;
    background-position: bottom;
}

.image-generator .content {
    position: relative;
    color: aqua;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
    position: relative;
}
.image-generator::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.image-generator h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px;
}

.image-generator p {
    color: rgb(144, 253, 253);
    font-size: 1.5rem;
    font-weight: 100;
    text-shadow: 2px 2px 30px rgba(0,0,0,0.4);
}

.image-generator .generate-form {
    height: 56px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 45px 0 15px;
    border-radius: 30px;
}

.generate-form .prompt-input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17px;
}

.generate-form .controls {
    display: flex;
    height: 100%;
    gap: 15px;
}
